body {
    font-family: 'Poppins', sans-serif;
}

.colorrojo {
    background-color: rgb(146, 0, 0);
}

.contenedor-logo {
    height: 130px !important;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-hamburguesa {
    margin-top: 20px !important;
    color: black;
}

.menu-hamburguesa i {
    font-size: 50px !important;
}

.contenidomenu {
    text-align: center;
}

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline;
    float: none;
}

nav.nav-center ul li a {
    display: inline-block;
}

.contenido-pagina {
    padding-top: 50px;
}

.buscador {
    background-color: whitesmoke;
    height: 52px;
    color: #000;
    line-height: 55px !important;
}

.color-iconos {
    color: grey;
}

.iconos {
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.mapa-footer {
    margin-top: 30px;
}

.mapa-footer iframe {
    width: 100% !important;
}

.footer-sublinks {
    padding-top: 9px;
    padding-bottom: 9px;
}